
.fontello-quiz-new:before { content: '\e801'; } /* '' */
.fontello-quiz-play:before { content: '\e802'; } /* '' */
.fontello-credits:before { content: '\e803'; } /* '' */
.fontello-settings:before { content: '\e804'; } /* '' */
.fontello-tag:before { content: '\e805'; } /* '' */
.fontello-th-large-outline:before { content: '\e806'; } /* '' */
.fontello-comment:before { content: '\e807'; } /* '' */
.fontello-market:before { content: '\e808'; } /* '' */
.fontello-home:before { content: '\e80a'; } /* '' */
.fontello-company:before { content: '\e80b'; } /* '' */
.fontello-cv-2:before { content: '\e80c'; } /* '' */
.fontello-quiz-result-share:before { content: '\e80f'; } /* '' */
.fontello-brain:before { content: '\e814'; } /* '' */
.fontello-spin6:before { content: '\e839'; } /* '' */
.fontello-menu:before { content: '\f008'; } /* '' */
.fontello-cancel-circled:before { content: '\f06e'; } /* '' */